@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Section 1 */
.section_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}

.section-1 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.note_cont {
  flex: 1;
  max-width: 600px;
  margin-right: 30px;
}

.first_h {
  font-family: Exo 2, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  margin-bottom: 20px;
}

.note_cont p {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
  margin-bottom: 20px;
}

.section_1_first_img {
  flex: 1;
  max-width: 600px;
}

.section_1_first_img img {
  width: 100%;
  height: auto;
}

.liner-container {
  position: relative;
  width: 107px;
  height: 17px;
  cursor: pointer;
}

.liner {
  font-size: 16px;
  line-height: 17px;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  color: #363738;
}

.liner::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: yellow;
  transition: width 0.5s ease;
}

.liner-container:hover .liner::before {
  width: 100%;
}


/* Tablet  */
@media (max-width: 992px) {
  .section-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .note_cont {
    margin-right: 0;
    max-width: 100%;
  }

  .section_1_first_img {
    max-width: 100%;
    margin-top: 20px;
  }

  .first_h {
    font-size: 40px;
    line-height: 50px;
  }

  .note_cont p {
    font-size: 14px;
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .first_h {
    font-size: 32px;
    line-height: 40px;
  }

  .note_cont p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .first_h {
    font-size: 28px;
    line-height: 36px;
  }

  .note_cont p {
    font-size: 10px;
  }

  .section-1 {
    padding: 10px;
  }
}

/* Section 2 */
.section_2 {
  width: 100%;
  padding: 40px 0;
}

.section-2 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  cursor: pointer;
}

.card img {
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

.card h1 {
  font-family: Exo 2, sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #363738;
  text-align: center;
  margin-bottom: 10px;
}

.card p {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  color: #6b6b6c;
  text-align: center;
}

/* Hover*/
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Responsive  */
@media (max-width: 992px) {
  .section-2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .section-2 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .section-2 {
    grid-template-columns: 1fr;
  }
}

/* section_3 */

.section_3 {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  
  .section-3_img img {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin-bottom: 30px;
    display: flex;
  }
  
  .section-3_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
    max-width: 1000px;
    width: 100%;
  }
  .section_3_box_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .icon_box:hover {
    background-color: #e0e0e0; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
    transition: all 0.3s ease; 
  }
  .icon_box:hover h6 {
    color: #363738; 
    font-weight: bold; 
    transform: scale(1.1); 
    transition: all 0.3s ease; 
  }
  
  .icon_box:hover p {
    color: #4a4a4a; 
    font-style: italic;
    transition: color 0.3s ease; 
  }
  
  

  
  .icon_box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .icon_box h6 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .icon_box p {
    font-size: 14px;
    color: #6b6b6b;
  }
  
  @media (max-width: 992px) {
    .section-3_icons {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .section-3_icons {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
  
  /* Section 4 */
.section-4 {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .section-4-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section-4-header h2 {
    font-family: Exo 2, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .section-4-header p {
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    color: #6b6b6c;
  }
  
  .section-4-cards-wrapper {
    display: flex;
    justify-content: center
  }
  
  .section-4-cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .info-card {
    position: relative; 
    width: 300px;
    height: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .info-card:hover {
    transform: translateY(-10px);
  }
  
  .info-card-image img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .info-card-content {
    padding: 15px;
    position: relative; 
  }
  
  .info-card-content h1 {
    font-family: Exo 2, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .info-card-content p {
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    color: #6b6b6c;
    margin-bottom: 10px;
  }
  
  .info-card-content h2 {
    font-family: Exo 2, sans-serif;
    font-size: 18px;
    position: relative;
    z-index: 1; 
  }
  
  /* sariq chiziq */
  .info-card::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: yellow;
    transform: translateY(20px); 
    transition: transform 0.3s ease; 
  }
  
  .info-card:hover::after {
    transform: translateY(0); 
  }
/* section-5 */
.section_5{
  width: 100%;
  height: 917px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .section-5 {
    width: 1239px;
    height: 917px;
    background-color: #0B7572;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .h1_both_tabel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .clients-header {
    width: 477px;
height: 109px;
top: 2887px;
left: 181px;
gap: 0px;
opacity: 0px;
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
line-height: 60px;
text-align: left;
color: #FFFFFF;
  }
  
  .clients-info-box {
    width: 652px;
    height: 747px;
    background-color: white;
    padding: 20px;
  }
  
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-header p{
    width: 274px;
height: 62px;
font-family: PT Sans;
font-size: 11px;
font-weight: 400;
line-height: 16.5px;
text-align: left;
color: #6B6B6C;
  }
  
  .company-logo {
    width: 103px;
height: 56.49px;

  }
  
  .separator {
    margin: 20px 0;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .clients-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
   
  }
  thead{
    background-color: #0B7572;
  }
  tr th{
    border-left: 1px solid grey;
    color: #fff;
    font-family: Exo 2;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: center  ;

  }
  
  tr td .first_p{
    width: 112px;
height: 90px;
top: 3095px;
left: 782px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 400;
line-height: 18.9px;
text-align: left;
color: #6B6B6C;
  }
  tr td .second_p{
    width: 141px;
height: 52px;
top: 3119px;
left: 930px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 400;
line-height: 18.9px;
text-align: left;
color: #6B6B6C;
  }
  tr td .third_p {
    width: 114px;
height: 33px;
top: 3140px;
left: 1103px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 400;
line-height: 18.9px;
text-align: left;
color: #6B6B6C;
  }
  tr td .fourth_p{
    width: 117px;
height: 14px;
top: 3183px;
left: 1103px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 400;
line-height: 18.9px;
text-align: left;
color: #363738;
margin-top: 10px;
  }
  tr td h4{
    width: 134px;
height: 14px;
top: 3095px;
left: 930px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 700;
line-height: 18.9px;
text-align: left;
color: #363738;
  }
  tr td h1{
    width: 114px;
height: 33px;
top: 3095px;
left: 1103px;
gap: 0px;
opacity: 0px;
font-family: PT Sans;
font-size: 14px;
font-weight: 700;
line-height: 18.9px;
text-align: left;
color: #363738;
  }

  tr td h3{
    width: 84px;
height: 15px;
top: 3195px;
left: 782px;
gap: 0px;
opacity: 0px;
font-family: Exo 2;
font-size: 14px;
font-weight: 600;
line-height: 18.9px;
text-align: left;
color: #363738;
  }
  .clients-table th, .clients-table td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #7f7474;
  }
  
  .clients-table img {
    width: 100px;
    height: auto;
  }
  
  .rating {
    color: gold;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
  }
  
  h3, h4, h1 {
    margin: 10px 0;
  }
  
  h1 {
    font-size: 20px;
  }
  

/* Tablet */
@media (max-width: 768px) {
  .clients-header {
    width: 100%;
height: 109px;
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
line-height: 60px;
text-align:center;
color: #FFFFFF;
  }
}

/* Mobil  */
@media (max-width: 480px) {
  .section_5 {
    height: auto;
    padding: 20px; 
  }
  .second_tr{
    display: none;
  } 
  .third_tr{
    display: none;
  } 
  .section-5 {
    width: 100%;
    height: auto; 
    background-color: #0B7572;
    display: block;
  }
  
  .h1_both_tabel {
    display: block;
    text-align: center;
  }
  
  .clients-header {
    width: 100%;
    font-size: 32px;
    line-height: 40px;
    margin: 20px 0;
  }
  
  .clients-info-box {
    width: 100%;
    padding: 15px;
  }
  
  .info-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-header p {
    width: auto;
    font-size: 12px; 
    margin-top: 10px;
  }
  
  .company-logo {
    width: 80px; 
    height: auto;
  }
  
  .separator {
    margin: 20px 0;
  }
  
  .clients-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left; 
  }
  
  .clients-table th, .clients-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #7f7474;
    display: block;
    text-align: left;
  }
  
  .clients-table th {
    display: none; 
  }
  
  .clients-table td {
    margin-bottom: 20px;
  }
  
  .clients-table img {
    width: 100px;
    height: auto;
  }
  
  .rating {
    font-size: 16px; 
    margin-top: 5px;
  }
  
  h3, h4, h1 {
    margin: 5px 0;
    font-size: 16px; 
  }
  
  .clients-table td p, .clients-table td h5 {
    font-size: 12px; 
  }
  
  .clients-table td h1 {
    font-size: 14px; 
  }
}
 /* section_6 */
 .section_6{
  width: 100%;
  height: 880px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .section-6 {
  width: 1232px;
  height: 880px;
  padding: 20px;
}

.section-6 h1 {
  margin-bottom: 24px;
  text-align: center;
}

.delivery-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.delivery-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.delivery-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.delivery-card-content {
  padding: 20px;
}

.delivery-card-content h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  margin-bottom: 10px;
  position: relative;
}

.delivery-card-content h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; 
  background: yellow;
  transition: width 0.3s;
}

.delivery-card-content h3:hover::after {
  width: 86px; 
}

.delivery-card-content p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: black;
}

/* Tablet */
@media (max-width: 768px) {
  .delivery-cards-container {
    grid-template-columns: 1fr;
  }

  .delivery-card {
    grid-template-columns: 1fr;
  }

  .delivery-card img {
    display: none;
  }

  .delivery-card-content {
    width: 100%;
  }
}

/* Mobile  */
@media (max-width: 480px) {
  .delivery-card-content {
    padding: 10px;
  }
}
/* section_7 */
.section_7 {
  width: 1212px;
  height: 576px;
  margin: 0 auto;
  
}

.section_7 h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.trusted-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  
}

.trusted-card {
  width: 184px;
  height: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trusted-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.trusted-card h6 {
  width: 184px;
  height: 21px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.trusted-card p {
  width: 184px;
  height: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6B6B6C;
  margin-top: 10px;
}

.Nfirst_img img{
  width: 79px;
  height: 101px;
}
.Nfirst_img + h1{
  margin-top: 32px;
}
.Nfirst_img + p{
  margin-top: 14px;

}
.second_img img{
  width: 149.76px;
height: 72px;
}
.second_img + h6{
  width: 184px;
  height: 21px;
  margin-top: 28px;
}
.third_img img{
  width: 125px;
height: 100px;
}
.fourth_img img{
  width: 77px;
  height: 93px;
}
.fourth_img + h6{
   margin-top: 10px;
}
.fifth_img img{
  width: 182px;
height: 48.54px;
}
.fifth_img + h6 {
  margin-top: 54px;
}
.sixth_img img{
  width: 95px;
height: 88px;
}
.sixth_img + h6{
  margin-top: 15px;
}
.seventh_img img{
  width: 78.71px;
height: 96.58px;
}
.seventh_img + h6{
  margin-top: 7px;
}
.eighth_img img{
  width: 145px;
height: 51.7px;
}
.eighth_img + h6{
  margin-top: 50px;
}
/* Tablet  */
@media (max-width: 1024px) {
  .section_7 {
    width: 100%;
    padding: 0 20px;
  }

  .trusted-card-container {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto);
    gap: 15px;
  }

  .trusted-card {
    width: 100%;
  }
  .trusted-card h6 {
    font-size: 18px;
  }

  .trusted-card p {
    font-size: 12px;
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .section_7 {
    width: 100%;
    padding: 0 10px;
  }

  .trusted-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .trusted-card {
    width: 100%;
  }



  .trusted-card h6 {
    font-size: 16px;
  }

  .trusted-card p {
    font-size: 12px;
  }

  .trusted-card:nth-child(n+5) {
    display: none;
  }
}
/*  section_8 */

.section_8 {
  width: 100%;
  max-width: 1240px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Cards Container */
.section_8_cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.section_8_card {
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter_both_letter_icon {
  margin-left: 20px;
}

.section_8_card img {
  width: 138px;
  height: 138px;
  border-radius: 50%;
}

.section_8_card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.section_8_card p {
  font-size: 14px;
  color: #6B6B6C;
}

@media (max-width: 1024px) {
  .section_8_cards-container {
    grid-template-columns: repeat(2, 2fr); 
    grid-template-rows: repeat(2, auto); 
    margin-top: 300px;
  }
  #section_8_card_6,#section_8_card_5{
    display: none;
  }
}

@media (max-width: 768px) {
  .section_8_cards-container {
    grid-template-columns: 1fr; /* Mobilda 1 ustun */
    grid-template-rows: repeat(3, auto); /* 3 qator */
    margin-top: 0px;
  }

  #section_8_card_6,#section_8_card_5,#section_8_card_4{
    display: none;
  }
}
/* section_9 */
.section_9 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.section-9 {
  width: 1240px;
  height: auto;
}

.section-9 h1 {
  width: 687px;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
}

.contact_letter_and_table_both {
  width: 100%;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact_letter_box {
  width: 248px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.contact_letter {
  display: flex;
  gap: 5px;
  width: 100%;
}
.contact_letter img{
  width: 23px;
  height: 32px;
}

.p_and_number {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table {
  width: 794px;
  background: #F9F9FB;
  border-radius: 5px;
}

.line_letter_both {
  width: 674px;
  margin: 40px 48px;
}

.p_and_h_both {
  display: flex;
  gap: 56px;
}

#line {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin-top: 16px;
}


@media (max-width: 1024px) {
  .contact_letter_and_table_both {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .table, .contact_letter_box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact_letter img {
    width: 23px; 
    height: auto;
    display: block; 
  }
  .contact_letter_and_table_both{
    display: flex;
    flex-wrap: wrap;
  }

  .contact_letter_box {
    width: 100%; 
    height: auto; 
    gap: 20px; 
  }

  .section-9 {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box; 
  }

  .section-9 h1 {
    display: none;
  }

  .table {
    width: 100%; 
    height: auto; 
  }

  .line_letter_both {
    width: 100%;
    margin: 20px 0;
  }
}
/* section_10 */
.section_10 {
  width: 100%;
  height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section-10 {
  width: 1245px;
  height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/image\ 1\ \(1\).png); 
  background-size: cover;
  background-position: center;
}

.section_10_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_10_circle i{
  font-size: 50px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .section-10 {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: contain;
  }
  
  .section_10_circle {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  
  .section-10 {
    height: 400px;
    background-size: cover;
    background-position: top;
  }

  .section_10_circle {
   display: none;
  }
}
/* footer */ 
footer {
  width: 100%;
  background: #0B7572;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 166px;
  padding: 20px 0;
}

.footer {
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_head_place {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer h1 {
  font-family: Familjen Grotesk;
  font-size: 60px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.two_h_container_both {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first_h_container, .second_h_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.two_h_container_both h6 {
  font-family: Exo 2;
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
}

.icon_button_both {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.social_icons i {
  font-size: 27px;
}

.icon_button_both h4 {
  font-family: Exo 2;
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #FF9619;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.button:hover {
  background-color: #0B7572;
  border: 1px solid #FF9619;
  color: #FF9619;
}

.footer p {
  text-align: center;
  font-family: Exo 2;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 40px;
}

/* Tablet */
@media (max-width: 1024px) {
  .footer_head_place {
    flex-direction: column;
    align-items: center;
  }

  .footer h1 {
    text-align: center;
  }

  .two_h_container_both {
    justify-content: center;
  }

  .icon_button_both {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .footer {
    width: 90%;
  }

  .footer h1 {
    font-size: 40px;
  }

  .two_h_container_both h6 {
    font-size: 11px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }

  .footer p {
    font-size: 10px;
  }
}
